@font-face {
    font-family: 'ai-iconfont'; /* Project id 4940645 */
    src: url('iconfont.ttf?t=1753337364317') format('truetype');
}

.ai-iconfont {
    font-family: 'ai-iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-statistics:before {
    content: '\e86b';
}

.icon-icon:before {
    content: '\e64b';
}

.icon-yiliaoweisheng-:before {
    content: '\ed78';
}

.icon-yiliao:before {
    content: '\e6ef';
}

.icon-sharpicons_medical-note:before {
    content: '\e80f';
}

.icon-tubiao_-:before {
    content: '\e6fe';
}

.icon-yiliao_yiliaowendang:before {
    content: '\e642';
}

.icon-star1:before {
    content: '\e62c';
}

.icon-check:before {
    content: '\e645';
}

.icon-shuaxin:before {
    content: '\e600';
}

.icon-arrowup:before {
    content: '\e9d3';
}

.icon-cc-thumbs-down:before {
    content: '\e6a7';
}

.icon-cc-thumbs-up:before {
    content: '\e6a8';
}

.icon-upload:before {
    content: '\e669';
}

.icon-arrow-down:before {
    content: '\e604';
}

.icon-star:before {
    content: '\e61c';
}

.icon-user:before {
    content: '\e60a';
}

.icon-download:before {
    content: '\e7ef';
}

.icon-server:before {
    content: '\f0ac';
}

.icon-comment-dots:before {
    content: '\e629';
}

.icon-stopcircle-fill:before {
    content: '\e7cc';
}

.icon-exclamation-circle:before {
    content: '\e6ee';
}

.icon-refresh:before {
    content: '\e6a2';
}

.icon-arrow-left:before {
    content: '\e699';
}

.icon-arrow-right:before {
    content: '\e69a';
}

.icon-times:before {
    content: '\e83c';
}

.icon-play-circle:before {
    content: '\e601';
}

.icon-sign-out-alt:before {
    content: '\e6b2';
}

.icon-robot:before {
    content: '\e602';
}

.icon-send:before {
    content: '\e688';
}

.icon-times-circle:before {
    content: '\e79f';
}

.icon-plus:before {
    content: '\e685';
}

.icon-arrow_up:before {
    content: '\e612';
}

.icon-chart_bar:before {
    content: '\e63b';
}

.icon-history:before {
    content: '\e674';
}

.icon-import:before {
    content: '\e675';
}

.icon-info-circle:before {
    content: '\eb2f';
}

.icon-exchange-alt:before {
    content: '\e6be';
}

.icon-cloud-upload-alt:before {
    content: '\e673';
}

.icon-copy:before {
    content: '\e77c';
}

.icon-angle-right:before {
    content: '\e603';
}

.icon-angle-down:before {
    content: '\e605';
}

.icon-exclamation-circle1:before {
    content: '\e62a';
}

.icon-office_baozhizhedie_newspaper-folding_linear:before {
    content: '\e6ca';
}
