.list {
    .list-item {
        display: flex;
        align-items: center;
        line-height: 40px;
        margin-right: 22px;
        white-space: nowrap;

        &.active {
            color: var(--el-color-primary);
        }

        .radio {
            line-height: 26px;
            font-size: 60px;
            visibility: hidden;
        }

        .visible {
            visibility: visible;
        }
    }
}