/* base样式文件 */
html,
body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #dddee0; /* 设置滑块的颜色 */
  border-radius: 5px; /* 设置滑块的圆角 */
}
